<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="alert alert-warning">
              Email confirmation instructions
            </td>
          </tr>
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    Welcome <%= @user.name %>!
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    Please confirm your email by clicking on the button below.
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <%= link_to "Confirm email",
                                "#{root_url}#confirmation?confirmation_token=#{@user.auth_token}", class: "btn-primary" %>
                  </td>
                </tr>
                <tr>
                  <td class="content-block">
                    <p>Best,<br /> TicketsAppX Team</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <div class="footer">
          <table width="100%">
            <tr>
              <td class="aligncenter content-block">Powered by <a href="http://bantatechnologies.com/">Banta Technologies</a></td>
            </tr>
          </table>
        </div></div>
    </td>
    <td></td>
  </tr>
</table>
