<div class="row">
    <div class="col-md-12">
        <h3>About Tickets AppX</h3>


        <p>Tickets AppX is a system that allows customers to be able to place support request and the support agents to
            process the requests. The system implements the following specifications.</p>
        <ol>
            <li>
                For customers
                <ol>
                    <li>A web portal to create support requests and to view status of previous requests.</li>
                </ol>
            </li>
            <li>
                For support agents
                <ol>
                    <li>A web portal to find and process support requests.</li>
                    <li>One report, on requests data, with all tickets closed in the last one month; Should be PDF
                        exportable.
                    </li>
                </ol>
            </li>
            <li>
                Other functional requirements
                <ol>
                    <li>Users should be able to authentication normally</li>
                    <li>An admin user should be able to manage other users and any other system objects.</li>
                </ol>
            </li>
        </ol>
    </div>
</div>