<div class="authform">
    <form role="form" class="new_project_owner" id="new_project_owner" action="/project_owners/password"
          accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input type="hidden"
                                                                                                         name="authenticity_token"
                                                                                                         value="f7NGc8WH7ysxgV/WVxSuQb9YfW6T+UQeqIHZD7KdsR4jLx9eZ/qXQ5bzCl58NNzdzs2zWkyBPVhiLPXG8sLQew=="/>
        <h3>Forgot your password?</h3>
        <p>We'll send password reset instructions.</p>

        <div class="form-group">
            <label for="project_owner_email">Email</label>
            <input autofocus="autofocus" class="form-control" type="email" value="" name="project_owner[email]"
                   id="project_owner_email"/>
        </div>
        <input type="submit" name="commit" value="Reset Password" class="button right"/>
    </form>
</div>
