<div class="authform">
    <form name="userForm" novalidate>

        <h3>Forgot your password?</h3>
        <p>We'll send password reset instructions.</p>

        <div class="form-group" ng-class="{'has-error': userForm.email.$invalid && showErrors}">
            <label class="control-label">Email</label>
            <input autofocus="autofocus" class="form-control" type="email" ng-model="data.email"
                   name="email" ng-pattern="/^.+@.+\..+$/" required/>

            <div class="help-block" ng-messages="userForm.email.$error" ng-show="showErrors">
                <div ng-message-exp="['required']">Email is required</div>
                <div ng-message-exp="['pattern']">Email format is not valid</div>
            </div>
        </div>

    <input type="submit" name="commit" value="Reset Password" ng-click="submitForm(userForm, data)"
           class="button right"/>
    </form>
</div>
