<div class="authform">
    <form name="userForm" novalidate>
        <h3>Reset password</h3>

        <div class="form-group" ng-class="{'has-error': userForm.password.$invalid && showErrors}">
            <label class="control-label">Password</label>
            <input class="form-control" type="password" name="password" ng-model="data.password" ng-minlength="6"
                   required/>

            <div class="help-block" ng-messages="userForm.password.$error" ng-show="showErrors">
                <div ng-message-exp="['required']">Password is required</div>
                <div ng-message-exp="['minlength']">Password should be minimum of 6 characters</div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': userForm.password_confirmation.$invalid && showErrors}">
            <label class="control-label">Password confirmation</label>
            <input class="form-control" type="password" name="password_confirmation"
                   ng-model="data.password_confirmation" ng-pattern="data.password" required/>

            <div class="help-block" ng-messages="userForm.password_confirmation.$error" ng-show="showErrors">
                <div ng-message-exp="['required']">Password confirmation is required</div>
                <div ng-message-exp="['pattern']">Password confirmation doesn't match password</div>
            </div>
        </div>

        <input type="submit" name="commit" value="Reset Password" ng-click="submitForm(userForm, data)"
               class="button right"/>
    </form>
</div>
