<div class="row">
    <div class="col-md-12">
        <h3>Users</h3>

        <div class="row">

            <div class="col-md-3 pull-right">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search a user"
                                   ng-model="searchUser">
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-3 pull-right">
                <div class="btn-group btn-group pull-right">
                    <button class="btn btn-primary" type="button" data-toggle="modal"
                            data-target="#add-user-modal"><i class="fa fa-plus">
                    </i> Add new user
                    </button>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <th>
                <a ng-click="sortType = 'title'; sortReverse = !sortReverse">Name
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'email'; sortReverse = !sortReverse">Email
                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'role'; sortReverse = !sortReverse">Role
                    <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'created_at'; sortReverse = !sortReverse">Created at
                    <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-up"></span>
                </a>
            </th>
            </thead>
            <tbody>
            <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:searchUser">
                <td><a ng-click="showTicket(ticket.id)">{{user.name}}</a></td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.created_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
