/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page-content {
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: normal;
}

.alert {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -1.5%;
    position: fixed;
    z-index: 9999;
    width: 60%;
}



/* SPINNER CSS BELOW */
.spinner {
    width: 100px;
    height: 100px;

    position: absolute;
    top: calc(50% - 70px);
    left: calc(50% - 50px);
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9c9;
    border: solid 3px #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.overlay {
    opacity: .2;
    background-color: #000;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: absolute;
    z-index: 5;
    margin: -20px -20px;
    border-radius: 3px;
}

.please-wait {
    text-align: center;
    position: absolute;
    top: calc(50% + 45px);
    left: calc(50% - 45px);
    z-index: 10;
}
