<!-- if user is signed in-->
<li><%= link_to 'Edit account', '#' %></li>
<li><%= link_to 'Sign out', '#', :method => 'delete' %></li>

<!-- if user is not signed in-->
<li><a ui-sref="about">About</a></li>
<li><a href="mailto:info@ticketingappx.com">Contact</a></li>
<li><%= link_to 'Sign in', '#' %></li>
<li><%= link_to 'Sign up', '#' %></li>
