<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
  <title>TicketingApp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<p><a href="#home">Home</a></p>
<p><a href="#about">About</a></p>
<div ng-view></div>

<script type="text/ng-template" id="home.html">
  <h2> Home </h2>
  {{message}}
</script>
</body>
</html>
